<div style="width: 98%;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">部门信息管理</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form">
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label>部门名称</label>
                                        <select class="form-control" id="bumen">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>部门经理</label>
                                        <select class="form-control" id="jinli">
                                        </select>
                                    </div>
                                    <!--<div class="form-group col-md-2">-->
                                        <!--<label>部门创建时间</label>-->
                                        <!--<input type="date" class="form-control" id="chuangjianshijian">-->
                                    <!--</div>-->
                                    <div class="form-group col-md-2">
                                    </div>
                                    <div class="form-group col-md-1">
                                        <div style="height: 24px"></div>
                                        <button type="button" class="btn btn-success" onclick="search()">条件搜索</button>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <div style="height: 24px"></div>
                                        <button type="reset" class="btn btn-success" data-toggle="modal" data-target="#myModal" onclick="add()">创建部门</button>
                                    </div>
                                </div>
                            </form>
                            <!-- 搜索条件 -->
                            <hr />
                            <!-- 表格&分页 -->
                            <div class="panel panel-default">
                                <div class="panel-heading">部门数据</div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>编号</th>
                                                <th>部门名称</th>
                                                <th>部门经理</th>
                                                <th>部门人数</th>
                                                <th>部门创建时间</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody id="ddd">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" style="top:100px;" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">创建部门</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label>部门名称:</label>
                            <input id = "title" class="form-control" placeholder="请输入部门名称" />
                        </div>
                        <div class="form-group">
                            <label>部门经理:</label>
                            <input id = "author" class="form-control" placeholder="请输入部门经理" />
                        </div>
                        <div style="text-align: center;">
                            <input type="button"  id="suu" class="btn btn-success" value="提交" />
                            <input type="button" id="re" class="btn btn-default" onclick="reset()" value="撤销" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>

<script src="../resources/assets/js/admin_include.js"></script>
<script type="text/javascript">
    $(function(){
        var bumenname = $("#bumen").val();
        var jinliname = $("#jinli").val();
        // var chuangjianshijian = $("#chuangjianshijian").val();
        if(bumenname == null && jinliname == null){
            first();
        }
    })

    function first(){
        $.ajax({
            type: 'post',
            url: "../department/select_department",
            success: function (data) {
                initView(data);
            }
        })
        $.ajax({
            type:'post',
            url:"../department/select_department",
            success:function (data) {
                $(".form-control").append("<option value=''>--请选择--</option>");
                depList = data.data;
                for(var i = 0;i < depList.length ; i++){
                    var dep = depList[i];
                    var kindname = dep.name;
                    var managername = dep.manager;
                    $("#bumen").append("<option value='"+dep.name+"'>"+kindname+"</option>");
                    $("#jinli").append("<option value='"+dep.manager+"'>"+managername+"</option>");
                }
            }
        });
    }
    function search(){
        var bumenname = $("#bumen").val();
        var jinliname = $("#jinli").val();
        if(bumenname == "" && jinliname == ""){
            first();
            return;
        }
        $.ajax({
            type:'post',
            url:"../department/queryby",
            data:{
                name:bumenname,
                manager:jinliname,
            },
            success:function (data) {
                initView(data);
            }
        });
    }

    //初始化页面（从后台取值）
    function initView(data) {
        $("#ddd").empty();
        depList = data.data;
        for(var i = 0 ; i < depList.length ; i++){
            var dept = depList[i];
            var liDom = '<tr id="tr_'+dept.id+'">';
            liDom += '<td>'+(i+1)+'</td>';
            liDom += '<td>'+dept.name+'</td>';
            liDom += '<td>'+dept.manager+'</td>';
            liDom += '<td>400</td>';
            liDom += '<td>'+dept.createTime+'</td>';
            liDom += '<td>';
            liDom += "<a class='btn btn-success btn-xs' data-toggle='modal' data-target='#myModal' onclick='change("+"\""+dept.id+"\""+","+"\""+dept.name+"\""+","+"\""+dept.manager+"\""+")'>修改</a>";
            liDom += "<a class='btn btn-success btn-xs' data-toggle='modal' data-target='#myModal' onclick='look("+"\""+dept.name+"\""+","+"\""+dept.manager+"\""+")'>查看</a>";
            liDom += "<a class='btn btn-success btn-xs' onclick='deletea("+"\""+dept.id+"\""+")'>删除</a>"
            liDom += '</td>';
            liDom += '</tr>';
            $("#ddd").append(liDom);
        }
    }
    //创建部门模块变化
    function add() {
        $("#suu").show();
        $("#suu").attr("value","提交");
        $("#re").show();
        $("#myModalLabel").text("创建部门")
        $("#title").attr('placeholder','请输入部门名称');
        $("#title").attr('disabled',false);
        $("#author").attr('placeholder','请输入部门经理');
        $("#author").attr('disabled',false);
        $("#suu").click(function () {
            closedialog();
        })
    }
    //点击提交按钮，提交部门信息
    function closedialog(){
        if(confirm("确定要提交吗？")){
            window.event.returnValue = true;
        }else{
            window.event.returnValue = false;
        }
        if(window.event.returnValue == true){
            $.ajax({
                type:'post',
                url:'../department/add_department',
                data:{
                    name:$('#title').val(),
                    manager:$('#author').val()
                }
            })
            $("#myModal").hide();
        }else{

        }
    }
    //撤销功能
    function reset(){
        $('#title').val("");
        $('#author').val("");
    }
    //删除部门功能
    function deletea(id){
        if(confirm("确定要删除吗？")){
            window.event.returnValue = true;
        }else{
            window.event.returnValue = false;
        }
        if(window.event.returnValue == true){
            $.ajax({
                type:'post',
                url:'../department/delete_department',
                data:{
                    id:id
                },
            })
            $("#tr_"+id).remove();
        }else{

        }
    }
    //修改部门
    function change(id,name,manager){
        $("#suu").show();
        $("#re").show();
        $("#suu").attr("value","修改");
        $("#myModalLabel").text("修改部门")
        $("#title").attr('placeholder',name);
        $("#title").attr('disabled',false);
        $("#author").attr('placeholder',manager);
        $("#author").attr('disabled',false);
        $("#suu").click(function(){
            update(id);
        })
    }
    function update(id){
        if(confirm("确定要修改吗？")){
            window.event.returnValue = true;
        }else{
            window.event.returnValue = false;
        }
        if(window.event.returnValue == true){
            $.ajax({
                type:'post',
                url:'../department/update_department',
                data:{
                    id:id,
                    name:$('#title').val(),
                    manager:$('#author').val()
                }
            })
            $("#myModal").hide();
        }else{

        }

    }
    //查看部门
    function look(name,manager){
        $("#suu").hide();
        $("#re").hide();
        $("#title").attr('placeholder',name);
        $("#title").attr('disabled',true);
        $("#author").attr('placeholder',manager);
        $("#author").attr('disabled',true);
        $("#myModalLabel").text("查看部门")
    }
</script>

