<div style="width: 98%;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">员工信息管理</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form">
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label>姓名</label>
                                        <input type="text" class="form-control" id="employeeName"/>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>性别</label>
                                        <select class="form-control" id="employeeGender">
                                            <option value="0">-请选择-</option>
                                            <option value="1">男</option>
                                            <option value="2">女</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>所属部门</label>
                                        <select class="form-control" id="employeeBumen">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label>当前状态</label>
                                        <select class="form-control" id="employeeStatus">
                                            <option value="0">-请选择-</option>
                                            <option value="1">工作中</option>
                                            <option value="2">休假中</option>
                                            <option value="3">出差中</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-1"></div>
                                    <div class="form-group col-md-1">
                                        <div style="height: 24px"></div>
                                        <button type="button" class="btn btn-success" onclick="employee.render()">条件搜索</button>
                                    </div>
                                </div>
                            </form>
                            <!-- 搜索条件 -->
                            <hr />
                            <!-- 表格&分页 -->
                            <div class="panel panel-default">
                                <div class="panel-heading">员工数据</div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover">
                                            <thead>
                                            <tr>
                                                <th>编号</th>
                                                <th>姓名</th>
                                                <th>性别</th>
                                                <th>联系电话</th>
                                                <th>所属部门</th>
                                                <th>状态</th>
                                                <th>操作</th>
                                            </tr>
                                            </thead>
                                            <tbody id="employeeListBody">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" style="top:0px;" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">查看员工详细信息</h4>
                </div>
                <div class="modal-body" id="employeeInfo">

                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <!-- 模态框（Modal） -->
    <div class="modal fade" style="top:0px;" id="myEmployeeUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myEmployeeUpdateLabel">更新员工详细信息</h4>
                </div>
                <div class="modal-body" id="myEmployeeUpdateInfo">

                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>

<script src="../resources/assets/js/admin_include.js"></script>
<script>
    $(function () {
        employee.render();

        $.ajax({
            type:'post',
            url:"../department/select_department",
            success:function (data) {
                $("#employeeBumen").append("<option value=''>-请选择-</option>");
                depList = data.data;
                for(var i = 0;i < depList.length ; i++){
                    var dep = depList[i];
                    var kindname = dep.name;
                    $("#employeeBumen").append("<option value='"+dep.id+"'>"+kindname+"</option>");
                }
            }
        });
    })

    function Employee() {
        this.render = function () {

            var name = $("#employeeName").val();
            var gender = $("#employeeGender").val();
            var departmentId = $("#employeeBumen").val();
            var status = $("#employeeStatus").val();

            $.get("../employee/select_all_employee.api", {gender: gender, name: name, departmentId: departmentId, status: status}, function (res) {
                if (null !== res) {
                    var arr = []
                    var num = 1
                    var department
                    res.data.forEach(function (item) {

                        if (item.gender === 1) {
                            item.gender = "男"
                        } else {
                            item.gender = "女"
                        }

                        if(item.status === 1){
                            item.status="工作中"
                        }else if(item.status === 2){
                            item.status="休假中"
                        }else if(item.status === 3){
                            item.status="出差中"
                        }

                        department = item.department;
                        if(department === null){
                           var bumen = "待定"
                        }else{
                            var bumen = department.name
                        }


                        arr.push(`

                        <tr>
                            <td>${num}</td>
                            <td>${item.name}</td>
                            <td>${item.gender}</td>
                            <td>${item.phone}</td>
                            <td>${bumen}</td>
                            <td>${item.status}</td>
                            <td>
                                <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#myEmployeeUpdate" onclick="employee.updateInfo('${item.id}')">修改</a>
                                <a class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal" onclick="employee.getOneInfo('${item.id}')">查看</a>
                                <a class="btn btn-success btn-xs"   onclick="employee.deleteEmployee('${item.id}' " >删除</a>
                            </td>
                        </tr>
                    `)
                        num++;
                    })
                    document.getElementById('employeeListBody').innerHTML = arr.join('')
                }
            })
        }

        this.getOneInfo = function (id) {
            $.get("../employee/select_one_employee.api", {id:id}, function (res) {
                if (null != res) {
                    var arr = []

                    if (res.data.gender === 1) {
                        res.data.gender = "男"
                    } else {
                        res.data.gender = "女"
                    }

                    if(res.data.status===1){
                        res.data.status="工作中"
                    }else if(res.data.status===2){
                        res.data.status="休假中"
                    }else if(res.data.status===3){
                        res.data.status="出差中"
                    }


                    var department = res.data.department;
                    if(department === null){
                        var bumen = "待定"
                    }else{
                        var bumen = department.name
                    }

                    var salary = res.data.salary;
                    debugger
                    if(salary === null){
                        var xinzi = "待定"
                    }else{
                        var xinzi = salary.name
                    }
                    arr.push(`
                    <form role="form">
                        <div class="form-group">
                            <label>姓名:</label>
                            <input  class="form-control" readonly="readonly"  value="${res.data.name}"/>
                        </div>

                        <div class="form-group">
                            <label>性别:</label>
                            <input  class="form-control" readonly="readonly"  value="${res.data.gender}"/>
                        </div>

                        <div class="form-group">
                            <label>联系电话:</label>
                            <input  class="form-control" readonly="readonly"  value="${res.data.phone}"/>
                        </div>

                        <div class="form-group">
                            <label>邮件:</label>
                            <input  class="form-control" readonly="readonly"  value="${res.data.email}"/>
                        </div>

                        <div class="form-group">
                            <label>地址:</label>
                            <input  class="form-control"  readonly="readonly"  value="${res.data.address}"/>
                        </div>

                        <div class="form-group">
                            <label>状态:</label>
                            <input  class="form-control" readonly="readonly"  value="${res.data.status}"/>
                        </div>

                        <div class="form-group">
                            <label>部门:</label>
                            <input  class="form-control" readonly="readonly"  value="${bumen}"/>
                        </div>

                         <div class="form-group">
                            <label>等级:</label>
                            <input  class="form-control" value="${xinzi}"/>
                        </div>
                    </form>
                `)

                    document.getElementById('employeeInfo').innerHTML = arr.join('')
                }
            })
        }

        this.updateInfo = function (id) {
            $.get("../employee/select_one_employee.api", {id:id}, function (res) {
                if (null != res) {
                    var arr = []

                    if (res.data.gender === 1) {
                        res.data.gender = "男"
                    } else {
                        res.data.gender = "女"
                    }

                    if(res.data.status===1){
                        res.data.status="工作中"
                    }else if(res.data.status===2){
                        res.data.status="休假中"
                    }else if(res.data.status===3){
                        res.data.status="出差中"
                    }


                    var department = res.data.department;
                    if(department === null){
                        var bumen = "待定"
                    }else{
                        var bumen = department.name
                    }

                    var salary = res.data.salaryId;

                    if(salary === null){
                        var xinzi = "待定"
                    }else{
                        var xinzi = res.data.salaryId
                    }
                    arr.push(`
                    <form role="form">
                        <div class="form-group">
                            <label>姓名:</label>
                            <input  class="form-control" id="updateEmployeeName" value="${res.data.name}"/>
                        </div>

                        <div class="form-group">
                            <label>性别:</label>
                            <select class="form-control" id="updateEmployeeGender">
                                <option value="1">男</option>
                                <option value="2">女</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>联系电话:</label>
                            <input  class="form-control" id="updateEmployeePhone" value="${res.data.phone}"/>
                        </div>

                        <div class="form-group">
                            <label>邮件:</label>
                            <input  class="form-control" id="updateEmployeeEmail"  value="${res.data.email}"/>
                        </div>

                        <div class="form-group">
                            <label>地址:</label>
                            <input  class="form-control" id="updateEmployeeAddress" value="${res.data.address}"/>
                        </div>

                        <div class="form-group">
                            <label>状态:</label>
                            <select class="form-control" id="updateEmployeeStatus">
                                <option value="1">工作中</option>
                                <option value="2">休假中</option>
                                <option value="3">出差中</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>部门:</label>
                            <select class="form-control" id="employeeUpdateBumen"></select>
                        </div>

                         <div class="form-group">
                            <label>等级:</label>
                            <select class="form-control" id="updateEmployeeXinzi"></select>
                        </div>

                        <div style="text-align: center;">
                            <input type="button"  class="btn btn-success" value="修改" onclick="employee.updateEmployee('${id}')"/>
                        </div>
                    </form>
                `)

                    document.getElementById('myEmployeeUpdateInfo').innerHTML = arr.join('')

                    $.ajax({
                        type:'post',
                        url:"../department/select_department",
                        success:function (data) {
                            $("#employeeUpdateBumen").append("<option value=''>-请选择-</option>");
                            depList = data.data;
                            for(var i = 0;i < depList.length ; i++){
                                var dep = depList[i];
                                var kindname = dep.name;
                                $("#employeeUpdateBumen").append("<option value='"+dep.id+"'>"+kindname+"</option>");
                            }
                        }
                    });

                    $.ajax({
                        type:'post',
                        url:"../salary/select_salary",
                        success:function (data) {
                            $("#updateEmployeeXinzi").append("<option value=''>-请选择-</option>");
                            depList = data.data;
                            for(var i = 0;i < depList.length ; i++){
                                var dep = depList[i];
                                var kindname = dep.name;
                                $("#updateEmployeeXinzi").append("<option value='"+dep.id+"'>"+kindname+"</option>");
                            }
                        }
                    });
                }
            })
        }

        this.updateEmployee = function (id) {
            var name = $("#updateEmployeeName").val();
            var gender = $("#updateEmployeeGender").val();
            var phone = $("#updateEmployeePhone").val();
            var email = $("#updateEmployeeEmail").val();
            var address = $("#updateEmployeeAddress").val();
            var status = $("#updateEmployeeStatus").val();
            var bumen = $("#employeeUpdateBumen").val();
            var xinzi = $("#updateEmployeeXinzi").val();

            $.post("../employee/update_employee.api",{name:name,gender:gender,phone:phone,email:email,address:address,status:status,departmentId:bumen,salaryId:xinzi,id:id},function(res) {
                if (null != res) {
                    console.log(res)
                    toastr.success("修改成功");
                    employee.render();
                }
            })
        }

        this.deleteEmployee = function (id) {
            $.get("../employee/del_employee.api",{id:id},function(res) {
                if (null != res) {
                    console.log(res)
                    toastr.success("删除成功");
                    employee.render();
                }
            })
        }
    }
    window.employee = new Employee();
</script>
