<div style="width: 98%;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">个人信息管理</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form role="form">
                                <div class="row">
                                    <div class="form-group col-md-1">
                                        <div style="height: 24px"></div>
                                        <a type="reset" class="btn btn-success" data-toggle="modal" data-target="#myInfo" id="rechange">修改</a>
                                    </div>
                                </div>
                            </form>
                            <!-- 搜索条件 -->
                            <hr />
                            <!-- 表格&分页 -->
                            <div class="panel panel-default">
                                <div class="panel-heading">个人信息</div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table table-striped table-bordered table-hover" style="text-align: center;" id="personalinfo">
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 模态框（Modal） -->
    <div class="modal fade" style="top:100px;" id="myInfo" tabindex="-1" role="dialog" aria-labelledby="myInfoLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myInfoLabel">创建部门</h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <div class="form-group">
                            <label>手机号:</label>
                            <input id = "phone" class="form-control" placeholder="请输入手机号" />
                        </div>
                        <div class="form-group">
                            <label>邮箱:</label>
                            <input id = "email" class="form-control" placeholder="请输入邮箱" />
                        </div>
                        <div class="form-group">
                            <label>地址:</label>
                            <input id = "address" class="form-control" placeholder="请输入地址" />
                        </div>
                        <div style="text-align: center;">
                            <input type="submit"  id="tijiao" class="btn btn-success" value="提交" />
                            <input type="button" id="chexiao" class="btn btn-default" onclick="reset()" value="撤销" />
                        </div>
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>
</div>
<script src="../resources/assets/js/admin_include.js"></script>
<script type="text/javascript">
    //页面初始化，查询到用户的id
    $(function(){
        $.get("../user/getUserInfo.api",function(res){
            if(null !== res){
                if(res.status === 0){
                    var id = res.data.employeeId;
                    create(id);
                }
            }
        })
    })
    //画面构建
    function create(id) {
        $("#personalinfo").empty();
            $.get("../employee/select_one_employee.api", {id:id}, function (res) {
                if (null != res) {
                    var arr = []

                    if (res.data.gender === 1) {
                        res.data.gender = "男"
                    } else {
                        res.data.gender = "女"
                    }

                    if(res.data.status===1){
                        res.data.status="工作中"
                    }else if(res.data.status===2){
                        res.data.status="休假中"
                    }else if(res.data.status===3){
                        res.data.status="出差中"
                    }


                    var department = res.data.department;
                    if(department === null){
                        var bumen = "待定"
                    }else{
                        var bumen = department.name
                    }

                    var salary = res.data.salary;
                    if(salary === null){
                        var xinzi = "待定"
                    }else{
                        var xinzi = salary.basicSalary
                    }
                        arr.push(`
                            <tr>
                                <td>姓名：</td>
                                <td>${res.data.name}</td>
                            </tr>
                             <tr>
                                <td>性别：</td>
                                <td>${res.data.gender}</td>
                             </tr>
                             <tr>
                                <td>手机号：</td>
                                <td>${res.data.phone}</td>
                             </tr>
                             <tr>
                                <td>邮箱：</td>
                                <td>${res.data.email}</td>
                             </tr>
                             <tr>
                                <td>地址：</td>
                                <td>${res.data.address}</td>
                             </tr>
                             <tr>
                                <td>部门：</td>
                                <td>${bumen}</td>
                             </tr>
                             <tr>
                                 <td>薪资：</td>
                                 <td>${xinzi}</td>
                             </tr>
                             <tr>
                                 <td>工作状态：</td>
                                 <td>${res.data.status}</td>
                             </tr>
                    `)
                    document.getElementById('personalinfo').innerHTML = arr.join('')

                }
                $("#rechange").click(function(){
                    change(id,res.data.phone,res.data.email,res.data.address);
                })
            })


    }
    function reset(){
        $('#phone').val("");
        $('#email').val("");
        $('#address').val("");
    }
    //修改个人信息
    function change(id,phone,email,address){
        $("#phone").attr('placeholder',phone);
        $("#phone").attr('value',phone);
        $("#phone").attr('disabled',false);
        $("#email").attr('placeholder',email);
        $("#email").attr('value',email);
        $("#email").attr('disabled',false);
        $("#address").attr('placeholder',address);
        $("#address").attr('value',address);
        $("#address").attr('disabled',false);
        $("#tijiao").click(function(){
            update(id);
        })
    }
    function update(id) {
        var phone =  $("#phone").val();
        var email = $("#email").val();
        var address = $("#address").val();
        $.post("../employee/update_employee.api", {id:id,phone:phone,email:email,address:address}, function (res) {
            if(null !== res){
                if(res.status === 0){
                    var newid = res.data.id;
                    create(newid);
                }
            }
        })
    }
</script>

